 
services:

  frontend: 
    build: ./frontend
    ports:
      - "5173:5173"
    depends_on:
      - backend

      
  backend:
    build: ./backend
    ports:
      - "3000:3000"
    depends_on:
      - mongo

  mongo:
    image: mongo:6
    ports: 
    - "27017:27017"
    volumes:
    - mongo_data:/data/db

volumes:
  mongo_data: