/* #contact{
    background-color: white;
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;  
    padding: 30px;
     gap: 10px;
     margin-top: 30px;
}
#contact h2{
 font-size: 30px;
 border-bottom: 3px solid black;
 width: 250px;
 margin-bottom: 20px;
}

.contact-item {
  display: flex;
  align-items: center;
  gap: 10px;
}

#contact i {
  font-size: 20px;
  color: #333; 
} */
