/* #experience{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
.experienceBox{
    width: 100%;
    height:100%;
}
.experienceBox h2{
    background-color: white;
    border-radius: 20px;
    margin: 50px 0 10px 20px;
    width: fit-content;
    padding: 15px;
   text-align: center;
}
.experienceSliderBox{
    width: 100%;
    overflow-x: auto;
    scroll-behavior: smooth;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.2);
    /* background-color: white; */
    /* backdrop-filter: blur(10px);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.professionalDevList
{
display: flex;
flex-direction: column;
min-width: 350px;
height: fit-content;
background-color: white;
/* background-color: #A6F1E0; */
/* margin: 20px 40px 20px 0;
border-radius: 20px;
padding: 25px;

}
.professionalDevList:hover{
transform: translateY(-5px);
    box-shadow: 0px 5px 15px rgba(0,0,0,0.2); */ 

/* }

.professionalDevList h1{
    font-size: 30px;
    font-weight: 500;
    text-align: center;  
    border-bottom: 3px solid gray;
}

.professionalDevList p{
    text-align: center;
    margin-top: 10px;

}
.professionalDevList p b{
    font-size: 22px;
    font-weight: 500;
}

#checkCertificate
{
    color: white;
    background-color: rgb(36, 187, 36);
    font-size: 20px;
    outline: none;
    border-radius: 10px;
        box-shadow: 0px 5px 15px rgba(0,0,0,0.3);
        height: fit-content;
        padding: 8px;
        margin-top: 15px;

} */ 