/* Navbar container */
#header {
    width: 60%;
    height: 80px;
    background-color: white;
    margin: 30px auto 0 auto;
    border-radius: 30px 30px 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 15px 25px rgba(0,0,0,0.2);
}

#header ul {
    list-style: none;
    display: flex;
    gap: 40px; 
    margin: 0;
    padding: 0;
}

#header ul li {
    display: inline-block;
}

#header ul li a {
    text-decoration: none;
    color: #292828;
    font-weight: 500;
    font-size: 25px;
    padding: 8px 12px;
    transition: all 0.2s ease-in-out;

}

#header ul li a:hover {
    background-color: #f0f0f0;
    border-radius: 8px;
}

#header ul li a.active {
    font-weight: 600;
}
