/* #projects {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.projectBox {
  width: 100%;
  height: 100%;
}

.projectBox h2 {
  background-color: white;
  border-radius: 20px;
  /* margin: 50px 0 10px 20px; */
  /* width: fit-content;
  padding: 9px;
  text-align: center;
  margin: 20px;
}
.projectSliderBox {
  width: 100%;
  border-radius: 30px;
  margin: auto;
  overflow-x: auto;
  scroll-behavior: smooth;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
}

.projectList {
  background-color: white;
  min-width: 250px;
  height: 300px;
  padding: 20px;
  margin: 20px 40px 20px 0;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
  cursor: default;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.projectList h3 {
  width: 100%;
  font-size: 30px;
  font-weight: bolder;
  text-align: center;
  border-bottom: 3px solid black;
  margin-bottom: 20px;
}
.projectNote {
  font-size: 1 rem;
  text-align: center;
}
.projectList .github-button {
  border-radius: 10px;
  border: 1px solid black;
  width: 100px;
  height: 50px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
  font-size: 20px;
  font-weight: 500;
  background-color: rgb(74, 70, 70);
  color: white;
  position: absolute;
  bottom: 90px;
}

.projectList .checkDescription {
  border-radius: 10px;
  width: 200px;
  height: 50px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
  margin: 10px;
  font-size: 20px;
  font-weight: 500;
  background-color: rgb(0, 136, 0);
  color: white;
  outline: none;
  position: absolute;
  bottom: 20px;
  cursor: pointer;
}
.projectList:hover,
.projectList .checkDescription:hover,
.projectList .github-button:hover {
  transform: translateY(-5px);
  box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.2);
} */ 
